.product {
    background: white;
    padding: 0.2em 1em 3.5em 1em;
    position: relative;
    border-radius: 10px;
    color: $colour-secondary;
    font-size: 15px;

    &__title {
        color: $colour-primary;
        font-size: 18px;
    }

    &--label {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        padding: 1em;
        box-sizing: border-box;
        border-radius: 0 0 10px 10px;
    }

    &--special::before {
        @extend .product--label;
        background: $colour-special;
        content: "Special";
        color: $colour-primary;
    }

    &--sold-out::before {
        @extend .product--label;
        background: $colour-sold-out;
        content: "Social";
        color: white;
    }
}
